body {
    color: #fff;
    background-color: #000;
    font-family: monospace;
}

h1 {
    background-color: #4a81e6;
}

p {
    font-size: 100%;
}

.card {
    background-color: #4a81e6;
}

.current-weather-container img {
    width: 20% ;
}

.future-weather-container img {
    width: 30% ;
}

 .future-weather-container {
  width: 300px;
  height: 300px;
  margin: 1rem;
}